
<%= simple_nested_form_for @research_group, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @research_group.errors.any? %>
    <div class="alert">
      <button class="close" data-dismiss="alert">x</button>
      <strong><%= t('application.warning') %></strong> <%= t('entry.could_not_create', :count => @research_group.errors.count) %>
    </div>
  <% end %>

  <%= f.input :name, :input_html => { :class => 'span7' } %>


  <div class="entry-images controls span7">
    <%= f.fields_for :users_groups_associations do |user_form| %>
      <div class="well">
        <h4><%= t("activerecord.models.user.one") %></h4>
        <%= user_form.association :user %>
        <%= user_form.association :role %>


        <div class="control-group">
          <div class="controls">
            <%= user_form.link_to_remove t("application.remove_user") %>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add t("application.add_user"), :users_groups_associations, :class => "add-image-link" %>
  </div>

  <%= f.association :knowledge_area, :collection => @knowledge_areas, :input_html => { :class => 'span7' }  %>



  <div class="form-actions">
    <div class="pull-right">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  entries_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
