<% if @user.errors.any? %>
  <div class="alert">
    <button class="close" data-dismiss="alert">x</button>
    <% for error in @user.errors.full_messages do %>
      <strong><%= error %></strong>
    <% end %>
  </div>
<% end %>

<%= tinymce_assets %>
<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.simple_fields_for :profile do |profile_form| %>  
    <div class="row">
      <div class="span4">
        <div class="control-group">      
          <div class="fileupload fileupload-new" data-fileupload="image"><input type="hidden">
            <div class="fileupload-new thumbnail" style="max-width: 320px; max-height: 210px;">
              <img src="<%= (profile_form.object.image_url.present?)? profile_form.object.image_url : "http://www.placehold.it/320x210/EFEFEF/&text=no+image"  %>">
            </div>
            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 320px; max-height: 210px; line-height: 0px; "></div>
            <div>
              <span class="btn btn-file">
                <span class="fileupload-new"><%= t "images.select_image" %></span>
                <span class="fileupload-exists"><%= t "images.change_image" %></span>
                <%= profile_form.input_field :image %>
              </span>
              <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
            </div>
          </div>
        </div>
      </div>
      <div class="span8">
        <%= profile_form.input :name, :input_html => { :class => 'span6' } %>
        <%= profile_form.input :birthday, :as => :string, :input_html => { :class => 'span6' } %>
  <% end %>
        <%= f.input :department_name, :input_html => { :class => 'span6', data: {autocomplete_source: Department.order(:name).map(&:name)} } %>
        <%= f.input :knowledge_area_name, :input_html => { :class => 'span6', data: {autocomplete_source: KnowledgeArea.order(:name).map(&:name)} } %>
        <%= f.simple_fields_for :profile do |profile_form| %>
          <%= profile_form.input :phone, :input_html => { :class => 'span6' } %>
          <%= profile_form.input :about_me, :input_html => { :class => 'tinymce span6' } %>
          <%= tinymce %>
        <% end %>
      <div class="form-actions">
        <div class="pull-right">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      root_path, :class => 'btn' %>
        </div>
      </div>  
    </div>
  </div>
<% end %>
