<%= content_tag_for(:li, user, :class => "entry") do %>
  <div class="row">
    <div class="span2">
      <%= link_to user_path(user), :class => 'thumbnail' do %>
        <% unless user.profile.nil? or user.profile.image.nil? or user.profile.image.blank? %>
          <%= image_tag user.profile.image.image_url(:thumb) %>
        <% else %>
          <img src="http://www.placehold.it/160x155/EFEFEF/AAAAAA&amp;text=no+image">
        <% end %>
      <% end %>
    </div>
    <div class="span6">
      <%= link_to user_path(user) do %>
        <h2><%= user.name %></h2>
      <% end %>
      <% unless user.profile.nil? or user.profile.about_me.blank? %>
        <%= strip_tags truncate_html(sanitize(user.profile.about_me), :length => 250) %>
      <% end %>
    </div>
  </div>
<% end %>