<%- model_class = collection.first.class.new.class -%>
<div class="page-header">
  <%= link_to url_for(:controller => model_class.table_name.to_s, :action => "search", :search => params[:search]), :class => "section-title" do %>
    <h2><%=t '.title', :default => model_class.model_name.human(:count => collection.count )%></h2>
  <% end %>
</div>
<ul class="thumbnails entries">
  <%= render collection, :partial => model_class.table_name.to_s + '/' + model_class.name.underscore %>
</ul>
<% if collection.total_pages > 1 and search_page? %>
  <%= link_to t("application.more") + " " + t('.title', :default => model_class.model_name.human(:count => 2 )), url_for(:controller => model_class.table_name.to_s, :action => "search", :search => params[:search]), :class => "more-link pull-right btn btn-info" %>
<% elsif collection.total_pages > 1 and !search_page? %>
  <div class="pull-right">
    <%= will_paginate collection, :renderer => BootstrapPagination::Rails %>
  </div>
<% end %>
