<div class="span12">
  <div class="well">
    <div class="page-header">
      <h1><%= t('application.explore') %></h1>
    </div>
  </div>
</div>
<div class="span8">
  <div class="well">
  <% if !@programs.empty? and !@programs.nil? %>
    <%= render :partial => 'section', :locals => { :collection => @programs }  %>
  <% end %>
  <% if !@projects.empty? and !@projects.nil? %>
    <%= render :partial => 'section', :locals => { :collection => @projects }  %>
  <% end %>
  <% if !@entries.empty? and !@entries.nil? %>
    <%= render :partial => 'section', :locals => { :collection => @entries }  %>
  <% end %>
  <% if !@departments.nil? and !@departments.empty? %>
    <%= render :partial => 'section', :locals => { :collection => @departments }  %>
  <% end %>
  <% if !@research_lines.nil? and !@research_lines.empty? %>
    <%= render :partial => 'section', :locals => { :collection => @research_lines }  %>
  <% end %>
  </div>
</div>
<div class="span4">
  <%= render "sidebar" %>
</div>