<div class="span12">
  <div class="page-header">
    <h1><%= t('application.welcome_title') %>
      <small><%= t('application.welcome_subtitle') %></small>
    </h1>
  </div>

  <div id="timeline-embed"></div>
</div>

<script type="text/javascript">

  var timeline_config = {
    width: "100%",
    height: window.innerHeight - 120,
    source: "<%= url_for(:action => "timeline") + ".json" %>",
    lang: 'es',
    start_zoom_adjust: "-5",
    hash_bookmark: true
  }

</script>

<script src="/assets/timeline/js/storyjs-embed.js?body=1" type="text/javascript"></script>


<div class="span12 second-row">
  <ul class="thumbnails" id="home-thumbnails">
    <% for entry in @entries %>
      <li class="span4">
        <div class="thumbnail">
          <%= link_to url_for(entry) do %>
            <h2 class="title"><%= entry.title %></h2>
          <% end %>
          <div class="content">
            <%= link_to url_for(entry) do %>
              <%= image_tag entry.images.first.image_url(:slide) %>
            <% end %>
            <%= link_to url_for(entry.user) do %>
              <h3><%= entry.author %></h3>
            <% end %>
            <h4><small><%= l entry.date, :format => :long %></small></h4>
            <%= content_tag :p do %>
              <%= truncate_html(sanitize(entry.body.html_safe), :length => 150) %>
            <% end %>
            <div class="row">
              <%= link_to t("application.keep_reading"), url_for(entry), :class => "btn pull-right" %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>