<div class="span12">
  <h1><%= t('application.welcome_title') %>
    <small><%= t('application.welcome_subtitle') %></small>
  </h1>
</div>

<div class="span8">
  <section id="home-carousel">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% if !@entries_carousel.blank? %>
          <% for entry in @entries_carousel %>
            <%= div_for(entry, :class => (entry==@entries_carousel.first) ? 'item active': 'item'  ) do %>
              <%= link_to entry_path(entry.id) do %>
                <%= image_tag entry.images.first.image_url(:slide)  %>
              <% end %>
              <%= content_tag  :div, :class => 'carousel-caption' do %>
                <%= link_to entry_path(entry.id) do %>
                  <%= content_tag :h3, entry.title %>
                <% end %>
                <%= content_tag :h4 do %>
                  <%= entry.author %>
                  <%= content_tag :small do %>
                    <%= l entry.date, :format => :long %>
                  <% end %>
                <% end %>
                <%= content_tag :p do %>
                  <%= truncate_html(sanitize(entry.body.html_safe), :length => 150) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </section>
  </div>
  <div class="span4" id="right-sidebar">
    <%= content_tag :h2, t('application.users.highlighted') %>
    <% if !@departments.blank? %>
      <% for department in @departments %>
        <% user = department.users.top.first %>
        <%= content_tag :div, :class => "well" do %>
          <%= content_tag :div, :class => "row" do %>
            <%= content_tag :div, :class => "span1" do %>
              <%= link_to user_path(user.id), :class => "thumbnail" do %>
                <%= image_tag user.profile.image_url(:thumb)  %>
              <% end %>
            <% end %>
            <%= content_tag :div, :class => "span2" do %>
              <% if !user.department.blank? %>
                <%= link_to department_path(user.department.id) do %>
                  <%= content_tag :h3, user.department.name  %>
                <% end %>
              <% end %>
              <%= content_tag :h4, user.header_name  %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<div class="span12">
  <ul class="thumbnails" id="home-thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <a href="#"><h2 class="title">Título de la Entrada</h2></a>
        <div class="content">
          <a href="#"><img src="http://placehold.it/300x210" alt=""></a>
          <a href="#"><h3>Autor</h3></a>
          <h4><small>14/May/2012</small></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p>
          <div class="row">
            <a class="btn pull-right" href="#">Seguir leyendo &raquo;</a>
          </div>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="#"><h2 class="title">Título de la Entrada</h2></a>
        <div class="content">
          <a href="#"><img src="http://placehold.it/300x210" alt=""></a>
          <a href="#"><h3>Autor</h3></a>
          <h4><small>14/May/2012</small></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p>
          <div class="row">
            <a class="btn pull-right" href="#">Seguir leyendo &raquo;</a>
          </div>
        </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <a href="#"><h2 class="title">Título de la Entrada</h2></a>
        <div class="content">
          <a href="#"><img src="http://placehold.it/300x210" alt=""></a>
          <a href="#"><h3>Autor</h3></a>
          <h4><small>14/May/2012</small></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p>
          <div class="row">
            <a class="btn pull-right" href="#">Seguir leyendo &raquo;</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>