<%= tinymce_assets %>
<%= simple_form_for @project, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @project.errors.any? %>
    <div class="alert">
      <button class="close" data-dismiss="alert">x</button>
      <strong><%= t('application.warning') %></strong> <%= t('entry.could_not_create', :count => @project.errors.count) %>
    </div>
  <% end %>

  <%= f.input :title, :input_html => { :class => 'span7' } %>
  <%= f.input :start_date, :as => :string, :input_html => { :class => 'span7' } %>
  <%= f.input :duration, :as => :string, :input_html => { :class => 'span7' } %>
  <%= f.association :program, :collection => @programs, :input_html => { :class => 'span7' } %>



  <div class="control-group">
    <label class="control-label"><%= t('entry.research_sublines') %></label>
    <div class="controls">
      <%= content_tag :ul, :class => "span7", :id => "research-sublines", data: {autocomplete_source: ResearchSubline.order(:name).map(&:name)}  do %>
        <% for research_subline in @project.research_sublines %>
          <li><%= research_subline.name %></li>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('entry.knowledge_areas') %></label>
    <div class="controls">
      <%= content_tag :ul, :class => "span7", :id => "knowledge-areas", data: {autocomplete_source: KnowledgeArea.order(:name).map(&:name)}  do %>
        <% for knowledge_area in @project.knowledge_areas %>
          <li><%= knowledge_area.name %></li>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= f.input :published %>



  <%= f.input :description, :input_html => { :class => 'tinymce span7' } %>
  <%= tinymce %>

  <div class="form-actions">
    <div class="pull-right">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  entries_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
