<%= tinymce_assets %>
<%= simple_nested_form_for @project, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @project.errors.any? %>
    <div class="alert">
      <button class="close" data-dismiss="alert">x</button>
      <strong><%= t('application.warning') %></strong> <%= t('entry.could_not_create', :count => @project.errors.count) %>
    </div>
  <% end %>

  <%= f.input :title, :input_html => { :class => 'span7' } %>
  <%= f.input :start_date, :as => :string, :input_html => { :class => 'span7' } %>

  <div class="control-group string optional">
    <%= f.label :duration %>
    <div class="controls">
      <%= f.input_field :duration_years, :collection => years_collection, :prompt => t('application.years') %>
      <%= f.input_field :duration_months, :collection => months_collection, :prompt => t('application.months') %>
    </div>
  </div>

  <%= f.association :program, :collection => @programs, :input_html => { :class => 'span7' } %>



  <div class="control-group">
    <label class="control-label"><%= t('entry.research_sublines') %></label>
    <div class="controls">
      <%= content_tag :ul, :class => "span7", :id => "research-sublines", data: {autocomplete_source: ResearchSubline.order(:name).map(&:name)}  do %>
        <% for research_subline in @project.research_sublines %>
          <li><%= research_subline.name %></li>
        <% end %>
      <% end %>
    </div>
  </div>


  <%= f.input :published %>

  <%= f.input :finished %>

  <div class="entry-images controls span7">
    <%= f.fields_for :users_projects_associations do |user_form| %>
      <div class="well">
        <h4><%= t("activerecord.models.user.one") %></h4>
        <%= user_form.association :user %>
        <%= user_form.association :role %>
        <div class="control-group">
          <div class="controls">
            <%= user_form.link_to_remove t("application.remove_user") %>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add t("application.add_user"), :users_projects_associations, :class => "add-image-link" %>
  </div>

  <%= f.input :description, :input_html => { :class => 'tinymce span7' } %>
  <%= tinymce %>

  <div class="form-actions">
    <div class="pull-right">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  entries_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
