<!DOCTYPE html>
<html>
<head>
  <title>VirtusKnowledge</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= nav_bar :fixed => :top, :brand => "ESPE Knowledge", :responsive => true do %>
		<%= menu_group do %>
			<%= menu_item '<i class="icon-home icon-white"></i> '.html_safe + t("application.home"), root_path %>
			<%= menu_item '<i class="icon-globe icon-white"></i> '.html_safe + t("application.explore"), entries_path %>
			<%= menu_item '<i class="icon-question-sign icon-white"></i> '.html_safe + t('application.help'), entries_path %>
			<%= menu_item '<i class="icon-info-sign icon-white"></i> '.html_safe + t('application.about'), entries_path %>
		<% end %>
		<%= menu_group :pull => :right do %>
        	<form class="navbar-search pull-right form-search" action="">
              <input type="text" class="search-query span2" placeholder="Buscar">
            </form>
        <% end %>
        <%= menu_group :pull => :right do %>
         	<%= drop_down '<i class="icon-user icon-white"></i> '.html_safe + "Santiago Rios" do %>
         		<%= menu_item '<i class="icon-plus icon-white"></i> '.html_safe + t('entry.create'), new_entry_path %>
         		<%= menu_item '<i class="icon-edit icon-white"></i> '.html_safe + t('user.my_account'), new_entry_path %>
         		<%= drop_down_divider %>
         		<%= menu_item '<i class="icon-signout icon-white"></i> '.html_safe + t('user.signout'), new_entry_path %>
        	<% end %>
        <% end %>
	<% end %>

	<div class="container">
		<% flash.each do |name, msg| %>
	      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	        <a class="close" data-dismiss="alert">×</a>
	        <%= msg %>
	      </div>
	    <% end %>
		<div class="row">
			<%= yield %>
		</div>
	</div>


	<div class="footer-container">
      <div class="footer-accent"></div>
      <footer class="container">
      
        <div class="row">
          <p class="pull-right"><a href="#">Back to top</a></p>
        </div>
        <div class="row">
          <div class="span10 offset1">
            <div class="well">  
              <ul>
               <li>
                 <div>
                  <a href="#">
                   <img src="custom/images/twitter.png" height="50" width="50" alt="Twitter">
                 </a>
                 </div>
               </li>
               <li>
                 <div>
                  <a href="#">
                   <img src="custom/images/facebook.png" height="50" width="50" alt="Facebook">
                 </a>
                 </div>
               </li>
               <li>
                <div>
                  <a href="#">
                    <img src="custom/images/google.png" height="50" width="50" alt="Google+">
                  </a>
                </div>
              </li>
             </ul>
            </div>
          </div>
        </div>
        <p>Copyright &copy; 2012 ESPE Gesitón del Conocimiento</p>
      </footer>
    </div>

</body>
</html>
